<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Contents</title>
</head>
<body>

  <div class="container">
    <br><br>

    <h1>All Contents</h1>

    {% csrf_token %}
    <!-- <form action="{ url 'search_results' }" method="get">
      <input type="search" name="q" placeholder="Search by name or content..." class="form-control">
    </form> -->

    <br><br>
    <form action="{% url 'headline_search_results' %}" method="get">
      <input type="search" name="q" placeholder="Search by name or content...(headline)" class="form-control">
    </form>

    <br><br>

    {% for object in contents %}
      <h2>{{object.title}}</h2>
      <p>{{object.content | truncatechars:255}}</p>
      {% empty %}
      <h2>No Results</h2>
    {% endfor %}

    <br><br>
  </div>

</body>
</html>
